# Mac
.DS_Store

*.class
*.log

#Eclipse
.classpath
.project
.cache
.target/
.scala_dependencies
.worksheet/
*.sc

# sbt specific
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/
project/project
project/target
target
bin/


# Scala-IDE specific
.scala_dependencies
